@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600|Raleway:300i,400);

* {
    box-sizing: border-box;
}

.not-active {
    pointer-events: none;
    cursor: default;
    color: lightgray;
}

.halvsies li {
    width: 50%;
}

.onesies li {
    width: 100%;
}

html {
    background-color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
}

html,body {
    padding: 0;
    margin: 0;
    text-align: center;
    background: #efefef;
}

p, div, pre > code, img, audio {
    margin: 0;
    padding: 0;
}

pre > code {
    margin-bottom: 1em;
}

a {
    text-decoration: underline;
    color: #CCCCCC;

    :hover {
        cursor: pointer;
    }
}

.banner {
    display: inline-block;
    color: #FFFFFF;
    width: 100%;

    > div {
        width: 100vw;
    }
    
    a {
        text-decoration: none;
    }
        
    div.title {
        width: 100%;
        text-align: center;
        background: #000000;
        padding-bottom: 60px;
        padding-top: 100px;
        
        > a {
            text-decoration: none;
            color: #FFFFFF;
            
            span {
                font-weight: 600;
                font-family: 'Raleway', serif;
                font-size: 42px;
            }
        }

        span {
            display: inline-block;
            width: 100%;
        }
    }
}

ol, ul {
    position: relative;
    margin-top: 0;
    padding-left: 30px;

    li {
        margin-bottom: 10px;
    }
}

img {
    border: none;
    max-width: 100%;
    height: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

audio {
    margin-top: 1em;
}

body.down header {
    transition: 0.2s transform cubic-bezier(.3,.73,.3,.74);
    transform: translateY(0);
}

header {
    position: fixed;
    top: 0px;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #000000;
    z-index: 999;
    transform: translateY(-100%);
    font-size: medium;
    opacity: 0.95;
    text-align: left;

    p {
        display: inline-block;
        width: calc(50% - 3px);
        margin: 0;
        padding: 1em;
    }

    > p:last-child {
        text-align: right;
    }

    a {
        text-decoration: none;
        color: #FFFFFF;
    }
}

div.content {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 1em;

    > div, pre > code {
        width: 100%;
        max-width: 800px;
    }

    div {
        display: inline-block;
        padding-bottom: 1em;
        margin-bottom: 1em;
        background: #FFFFFF;
        text-align: left;
        width: 100%;
    }
    
    > div {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .creation, .title {
        float: left;
        width: 50%;
        margin: 0;
        padding: 1em;
        color: #6E7E88;
    }

    .creation {
        clear: none;
            
        > p {
            text-align: right;
            float: right;
            border-radius: 0 5px 0 0;
        }
    }

    .article {
        width: 100%;
        clear: both;
        padding-left: 1em;
        padding-right: 1em;
        padding-bottom: 1em;
        text-align: left;

        h1 {
            width: 100%;
        }

        > p {
            padding-bottom: 1em;
        }
    }

    div.catalog {
        display: inline-block;
        width: 100%;
        max-width: unset;
        background: none;

        a {
            text-decoration: none;
        }
        
        h1 {
            width: 100%;
            margin: 0;
        }
        
        ul {
            display: inline-block;
            list-style: none;
            width: 100%;
            padding: 0;
            
            li {
                display: inline-block;
                width: calc(100% - 20px);
                margin: 10px;
                background: #FFFFFF;
                box-sizing: border-box;
                opacity: 0.7;
                vertical-align: top;
                border-radius: 5px;
                border: 1px solid #CACACA;
                
                > span {
                    width: 100%;
                    font-weight: bold;
                    margin: 10px;
                    color: darkgrey;
                }
                
                > p {
                    width: 100%;
                    text-align: left;
                    color: darkred;
                    margin: 10px;
                    font-weight: bold;
                }
                
                > div {
                    border-radius: 5px;
                    width: 100%;
                    padding: 10px;
                    margin-bottom: 0;
                    overflow: hidden;
                    position: relative;
                    height: 300px;

                    > p {
                        width: 100%;
                        text-align: left;
                        color: darkred;
                        font-weight: bold;
                    }

                    > div {
                        margin: 0;
                        padding: 0;
                        
                        > p {
                            padding-bottom: 1em;
                        }
                    }

                    > div.fader {
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        width: 100%;
                        height: 100%;
                        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
                    }
                }
                
                p:first-child {
                    padding-top: 0.5em;
                }

                h1 {
                    font-size: 20px;
                    margin: 1em 0;
                }

                h2 {
                    font-size: 16px;
                }
            }

            @media screen and (min-width: 640px) {
                li {
                    width: calc((100% - 45px)/2);
                }
            }

            @media screen and (min-width: 1000px) {
                li {
                    width: calc((100% - 70px)/3);
                }
            }
        }

        a {
            color: #000000;
        }
        
        a:hover li {
            opacity: 1.0;
            margin-top: 8px;
            margin-left: 8px;
            margin-right: 12px;
            margin-bottom: 12px;
            box-shadow: 2px 2px 4px 0px rgba(200,200,200,.75);
        }

        a:first-child li {
            width: calc(100% - 20px);
            overflow:hidden;
        }   
    }
}

#navigation {
    display: inline-block;
    list-style: none;
    padding: 0;
    width: 100%;
    max-width: 800px;
        
    .button {
        margin: 0;
        padding: 0;
        background: #FFFFFF;
        float: left;
        clear: none;
        text-align: center;
    }

    li > div {
        width: 98%;
        padding: 0.5em;
        margin: 1%;
        text-align: center;
    }

    li > div:hover {
        background: #6E7E88;
        color: #FFFFFF;
    }
}
