html {
    padding: 0;
    margin: 0;
    background-color: #eeeeee;
    font-family: Verdana, Helvetica, sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: underline;
}

a :hover {
    cursor: pointer;
    text-decoration: underline;
}

img {
    position: relative;
    flaot: left;
    border: none;
    max-width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
}

audio {
    position: relative;
    float: left;
    margin-top: 1em;
}

div {
    position: relative;
    float: left;
}

#header {
    position: relative;
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
}

#header p {
    position: relative;
    margin-bottom: 0.5em;
    padding: 0.5em;
    font-size: large;
}

#content {
    margin-left: 2%;
    width: 96%;
}

#content > div {
    clear: left;
    background: #ffffff;
    padding: 0;
    margin-bottom: 1em;
}

#content > div > div:first-child {
    clear: left;
    width: 100%;
    box-sizing: border-box;
    text-align: right;
    margin: 0;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    margin-bottom: 0.5em;
    background: #aaaaaa;
    color: #eeeeee;
}

#content > div > div {
    clear: left;
    padding: 1em;
}
    

#content h1 {
    padding-bottom: 0.5em;
    margin: 0;
    font-size: large;
}