html {
    padding: 0;
    margin: 0;
    background-color: #BBC0C3;
    font-family: Verdana, Helvetica, sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: underline;
    color: #6E7E88;
}

a:hover {
    cursor: pointer;
}

img {
    position: relative;
    float: left;
    border: none;
    max-width: 100%;
    height: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

audio {
    position: relative;
    float: left;
    margin-top: 1em;
}

div {
    position: relative;
    float: left;
    box-sizing: border-box;
}

#header {
    position: fixed;
    top: 0px;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #EBECED;
    border-bottom: 1px solid #6E7E88;
    z-index: 999;
}

#header p {
    position: relative;
    margin-bottom: 0;
    padding: 0.75em;
    font-size: large;
}

#header a {
    text-decoration: none;
    color: #506774;
}

#content {
    margin-left: 2%;
    width: 96%;
}

#content div {
    max-width: 100%;
}

#content > div {
    clear: left;
    padding: 0;
    margin-bottom: 1em;
    border: 1px solid #6E7E88;
    background: #fff;
    border-radius: 5px;
}

#content > div:first-child {
    margin-top: 4em;
}

.creation, .title {
    width: 50%;
    margin: 0;
    padding: 1em;
    color: #333;
    border-radius: 5px 0 0 0;
    color: #6E7E88;
}

.creation {
    text-align: right;
    float: right;
    border-radius: 0 5px 0 0;
}

.article {
    width: 100%;
    clear: both;
    border-radius: 0 0 5px 5px;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}

.article > p {
    padding-bottom: 1em;
}

